li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 120px;
  border-radius: 8px;
  margin: 10px;
  border-color: #ffffff30;
  height: 120px;
  width: 120px;
  border-radius: 20px;
  border-style: solid;
  background-color: rgba(255, 255, 255, 0.5);
  opacity: 100%;
}
.button-element {
  border: none;
  padding: 0;
  background: none;
  cursor: pointer;
}
img {
  height: 120px;
  width: 120px;
}
