.main-container {
  background-image: linear-gradient(to bottom right, #9796f0, #fbc7d4);
  background-size: cover;
  margin: 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}
.display-container {
  display: none;
}
